<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">перелік причин, за яких HTML та CSS можуть змусити вас сказати "що в біса коїться?". Це кураторський перелік невідповідностей, помилок і дилем HTML та CSS, що засмучують.</p>
    <p class="lead">Створено <a href="{{ site.twitter }}">@mdo</a>.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
