<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">Reasons your HTML and CSS may be fucked. A curated list of commonly frustrating HTML and CSS quandaries, miscues, and dilemmas.</p>
    <p class="lead">Created by <a href="{{ site.twitter }}">@mdo</a>.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
